
/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0a192f;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: #0a192f;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 1.5rem;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

header nav ul li a:hover {
    color: #64ffda;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 2rem;
    background-color: #0a192f;
}

.home-content {
    max-width: 50%;
}

.home-content h1 {
    font-size: 2.5rem;
    color: #64ffda;
}

.home-content h2 {
    font-size: 3rem;
    margin-top: 1rem;
}

.home-content h3 {
    font-size: 2rem;
    margin-top: 1rem;
}

.home-content p {
    font-size: 1.5rem;
    margin-top: 1rem;
    line-height: 1.5;
}

.home-content .social-icons {
    margin-top: 1rem;
}

.home-content .social-icons a {
    color: #64ffda;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: color 0.3s ease;
}

.home-content .social-icons a:hover {
    color: #fff;
}

.home-content .btn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    background-color: #64ffda;
    color: #0a192f;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.home-content .btn:hover {
    background-color: #fff;
    color: #0a192f;
}

.home-image {
    max-width: 45%;
    text-align: center;
    position: relative;
}

.home-image img {
    width: 80%;
    border-radius: 50%;
    border: 5px solid #64ffda;
    box-shadow: 0 0 50px rgba(0, 255, 218, 0.5);
    animation: rotateImage 10s linear infinite;
}


/*@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }
    .home-content, .home-image {
        max-width: 100%;
    }
    .home-content h1, .home-content h2, .home-content h3 {
        font-size: 1.5rem;
    }
}*/


.card-container {
    display: flex;
    justify-content: space-around;
    padding: 10rem;
    flex-wrap: wrap;
}

.card {
    background-color: #0a192f;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5rem;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.7);
    box-shadow: 0 8px 16px #64ffda;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 1rem;
    text-align: center;
}

.card-title {
    font-size: 1.5rem; /* Increased font size */
    margin-bottom: 0.75rem;
}

.card-text {
    font-size: 1.25rem; /* Increased font size */
    margin-bottom: 1.25rem;
}

.btn {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    color: #000000;
    background-color: #64ffda;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffffff;
}



@mixin aspect-ratio($width, $height) {
    position: relative;
      
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: ($height / $width) * 100%;
    }
         
    > img {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
    }
  }
  
  
  section {
      background: #0a192f;
      padding: 50px 0;
  }


  body{
	margin: 0;
	padding: 0;
	background-color: #0a192f;
}


h1{ /*change font family of heading*/
	font-family: sans-serif;
}

li{ /*style the li tag*/
	list-style-type: none;
	font-family: sans-serif;
}

.skills{ /*style the text*/
	width: 500px;
	margin: 10px auto;
	color: #fff;
}

.skills li{ /*set margin of li*/
	margin: 20px 0;
}

.bar{ /*style the bar*/
	background-color: #353b48;
	display: block;
	height: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 3px;
	overflow: hidden;
	box-shadow: 0 0 10px #64ffda;
}

.bar span{ /*style the span tag*/
	height: 5px;
	float: left;
	background-color: #64ffda;
}

.html{ /*set skills and animation of html*/
	width: 80%;
	animation: html 2s;
}

.css{ /*set skills and animation of css*/
	width: 85%;
	animation: css 2s;
}



.C{ /*set skills and animation of javascript*/
	width: 80%;
	animation: C 2s;
}

.Python{ /*set skills and animation of jquery*/
	width: 70%;
	animation: Python 2s;
}

@keyframes html{ /*animate html skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 80%;
	}
}

@keyframes css{ /*animate css skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 93%;
	}
}



@keyframes C{ /*animate javascript skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 50%;
	}
}

@keyframes Python{ /*animate jquery skills*/
	0%{
		width: 0%;
	}

	100%{
		width: 30%;
	}
}
  
  .container {
      max-width: 1044px;
      margin: 0 auto;
      padding: 110px 110px;
  }
  
  .carousel {
      display: block;
      text-align: left;
      position: relative;
      margin-bottom: 22px;
      
      > input {
          clip: rect(1px, 1px, 1px, 1px);
          clip-path: inset(50%);
          height: 1px;
          width: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          
          &:nth-of-type(6):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -500%; }
          &:nth-of-type(5):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -400%; }
          &:nth-of-type(4):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -300%; }
          &:nth-of-type(3):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -200%; }
          &:nth-of-type(2):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: -100%; }
          &:nth-of-type(1):checked ~ .carousel__slides .carousel__slide:first-of-type { margin-left: 0%; }
          
          &:nth-of-type(1):checked ~ .carousel__thumbnails li:nth-of-type(1) { box-shadow: 0px 0px 0px 5px #64ffda; }
          &:nth-of-type(2):checked ~ .carousel__thumbnails li:nth-of-type(2) { box-shadow: 0px 0px 0px 5px #64ffda; }
          &:nth-of-type(3):checked ~ .carousel__thumbnails li:nth-of-type(3) { box-shadow: 0px 0px 0px 5px #64ffda; }
          &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px #64ffda; }
          &:nth-of-type(4):checked ~ .carousel__thumbnails li:nth-of-type(4) { box-shadow: 0px 0px 0px 5px #64ffda; }
          &:nth-of-type(5):checked ~ .carousel__thumbnails li:nth-of-type(5) { box-shadow: 0px 0px 0px 5px #64ffda; }
          &:nth-of-type(6):checked ~ .carousel__thumbnails li:nth-of-type(6) { box-shadow: 0px 0px 0px 5px #64ffda; }
      }
  }
  
  .carousel__slides {
      position: relative;
      z-index: 1;
      padding: 0;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      box-sizing: border-box;
      display: flex;
  }
  
  .carousel__slide {
      position: relative;
      display: block;
      flex: 1 0 100%;
      width: 100%;
      height: 100%;
      overflow: hidden;
      transition: all 300ms ease-out;
      vertical-align: top;
      box-sizing: border-box;
      white-space: normal;
      
      figure {
          display: flex;
          margin: 0;
      }
      
      div {
          @include aspect-ratio(3, 2);
          width: 100%;
      }
      
      img {
          display: block;
          flex: 1 1 auto;
          object-fit: cover;
      }
      
      figcaption {
          align-self: flex-end;
          padding: 20px 20px 0 20px;
          flex: 0 0 auto;
          width: 25%;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          font-size: 2cap;
          min-width: 150px;
      }
      
      .credit {
          margin-top: 1rem;
          color: #64ffda;
          display: block;        
          font-weight: bold;
      }
      
      &.scrollable {
          overflow-y: scroll;
      }
  }
  
  .carousel__thumbnails {
      list-style: none;
      padding: 0;
      margin: 0;
      text-size-adjust: 80;
      display: flex;
      
      margin: 0 -10px;
      
      .carousel__slides + & {
          margin-top: 20px;
      }
      
      li {        
          flex: 1 1 auto;
          max-width: calc((100% / 6) - 20px);  
          margin: 0 10px;
          transition: all 300ms ease-in-out;
      }
      
      label {
          display: block;
          @include aspect-ratio(1,1);
          
                    
          &:hover,
          &:focus {
              cursor: pointer;
              
              img {
                  box-shadow: 0px 0px 0px 1px #64ffda;
                  transition: all 300ms ease-in-out;
              }
          }
      }
      
      img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
  }



  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

  .footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 70px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  
  .social-icon__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }
  .social-icon__link:hover {
    transform: translateY(-10px);
  }
  
  .menu__link {
    font-size: 1.2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
    font-weight: 300;
  }
  
  .menu__link:hover {
    opacity: 1;
  }
  
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1rem;
    font-weight: 300;
  }
  
  .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("https://i.ibb.co/wQZVxxk/wave.png");
    background-size: 1000px 100px;
  }
  
  .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWaves 4s linear infinite;
  }
  
  .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animate 4s linear infinite !important;
  }
  
  .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWaves 3s linear infinite;
  }
  
  .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animateWaves {
    0% {
      background-position-x: 1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  
  @keyframes animate {
    0% {
      background-position-x: -1000px;
    }
    100% {
      background-positon-x: 0px;
    }
  }
  